<form method="post" action="{{ path('app_consulta_delete', {'id': consultum.id}) }}" onsubmit="return confirm('¿Estas seguro de que quieres eliminarlo?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ consultum.id) }}">
    <br>
    <button class="btn">Borrar</button>
</form>
