<form method="post" action="{{ path('app_mascota_delete', {'id': mascotum.id}) }}" onsubmit="return confirm('¿Seguro que quieres borrarlo?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mascotum.id) }}">
    <br>
    <button class="btn">Borrar</button>
</form>
