{% extends 'base.html.twig' %}

{% block title %}New Mascota{% endblock %}

{% block body %}
<a href="{{ path('app_home_page') }}"><button>Inicio</button></a>
    <h1>Create new Mascota</h1>

    {{ include('mascota/_form.html.twig') }}

    <a href="{{ path('app_mascota_index') }}"><button>Volver</button></a>
{% endblock %}
