{% extends 'base.html.twig' %}

{% block title %}New Tratamiento{% endblock %}

{% block body %}
<a href="{{ path('app_home_page') }}"><button>Volver</button></a>
    <h1>Crear nuevo tratamiento</h1>

    {{ include('tratamiento/_form.html.twig') }}

    <a href="{{ path('app_tratamiento_index') }}"><button>Volver</button></a>
{% endblock %}
